<%- include('./partials/head.ejs') %>
<form action="/" method="POST">
  <h1>Manage Scrollbook authors</h1>
  <p>Add author to the scrollbook API using this form!</p>
  <fieldset>
    <legend>Add author</legend>
    <h2>Name</h2>
    <div class="input">
      <input type="text" name="name" id="name" placeholder="Name" >
      <label for="name">Name</label>
      <span></span>
    </div>
    <h2>Surname</h2>
    <div class="input">
      <input type="text" name="surname" id="surname" placeholder="Surname" >
      <label for="surname">Surname</label>
      <span></span>
   </div>
    <h2>Initials</h2>
    <div class="input">
      <input type="text" name="initials" id="initials" placeholder="Initials" >
      <label for="initials">Initials</label>
      <span></span>
    </div>
    <h2>Date of Birth</h2>
    <div class="input">
      <input type="text" name="date_of_birth" id="date-of-birth" placeholder="Date of Birth"  maxlength="10">
      <label for="date-of-birth">Date of Birth (DD-MM-YYYY)</label>
      <span></span>
    </div>
    <hr>
    <input type="submit" name="submit" id="submit" value="Versturen">  
  </fieldset>
  <% if(typeof errors !== 'undefined') { %> 
    <ul>
      <% errors.forEach(error=>{ %> 
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %> 
</form>
<script src="/scripts/script.js"></script>
<%- include('./partials/foot.ejs') %>